{% extends 'base.html' %}
{% block mypagetitle %}
    <title>树洞君博客-文章列表</title>
{% endblock %}
{% block mymaincontent%}
{% if error_msg %}
    <p>{{ error_msg }}</p>
{% endif %}

<!-- 文章列表 -->
{% for post in post_list %}
    <div>
        <article>
            <heard>
                <h3><span class="glyphicon glyphicon-bookmark"></span>&nbsp;&nbsp;{{ post.title }}</h3>
                <h6>
                    <span>更新时间:&nbsp;{{ post.modified_time.year }}年{{ post.modified_time.month }}月{{ post.modified_time.day }}日</span>
                    &nbsp;&nbsp;
                    <span>作者:&nbsp;{{ post.author }}</span>
                    &nbsp;&nbsp;
                    <span>阅读量:&nbsp;{{ post.views }}</span>
                </h6>
            </heard>

            <div>
                <p>{{ post.excerpt }}</p>
            </div>
            <a href="{% url 'myblog:detail' post.id%}" class="btn btn-default" target="_blank">阅读全文&nbsp;<span class="glyphicon glyphicon-circle-arrow-right"></span></a>
            <h5>
                <span class="glyphicon glyphicon-tag">
                {% for tag in post.tags.all %}
                <a href="{% url 'myblog:tag' tag.pk %}"><em>{{ tag.name }}</em></a>
                {% endfor %}
                </span>
            </h5>
        </article>
    </div>
    <hr>
{% empty %}
    抱歉，暂未发布文章！
{% endfor %}

<!-- 分页 -->
{% if is_paginated %}
<div class="btn-toolbar" role="toolbar" aria-label="">
    <div class="btn-group" role="group" aria-label="">
        {% if left %}
            {% if left_has_more %}
                <a type="button" class="btn btn-default" href="?page=1"><<&nbsp;第一页</a>
            {% endif %}
            <a type="button" class="btn btn-default" href="?page={{ page_obj.number|add:-1 }}"><&nbsp;上一页</a>
            {% for i in left %}
                <a type="button" class="btn btn-default" href="?page={{ i }}">{{ i }}</a>
            {% endfor %}
        {% endif %}
        <a type="button" class="btn btn-default active">{{ page_obj.number }}</a>
        {% if right %}
            {% for i in right %}
                <a type="button" class="btn btn-default" href="?page={{ i }}">{{ i }}</a>
            {% endfor %}
            <a type="button" class="btn btn-default" href="?page={{ page_obj.number|add:1}}">下一页&nbsp;></a>
            {% if right_has_more %}
                <a type="button" class="btn btn-default" href="?page={{ paginator.num_pages }}">最后一页&nbsp;>></a>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endif %}
{% endblock %}