{% extends 'base.html' %}
{% load static %}
{% block main %}
    <!--
    <div class="jumbotron">
        <h1>Hello, world!</h1>
        <p>This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.</p>
    </div>
    -->
    {% for post in post_list %}
    {% if forloop.counter == 1 or forloop.counter == 3%}
    <div class="row">
    {% endif %}
        <div class="col-md-6 col-sm-6">
            <article class=" blog-teaser">
                <header>
                    <img src="{% static 'myblog/img/4.jpg' %}" alt="">
                    <h3><a href="{% url 'myblog:detail' post.id %}">{{ post.title }}</a></h3>
                    <span class="meta">{{ post.modified_time }}, {{ post.author }}</span>
                    <hr>
                </header>
                <div class="body">
                    {% if post.excerpt %}
                        {{ post.excerpt }}
                    {% else %}
                        {{ post.body }}
                    {% endif %}
                </div>
                <div class="clearfix">
                    <span>
                        &nbsp;
                        <span class="glyphicon glyphicon-tag">&nbsp;New</span>
                        <a href="{% url 'myblog:detail' post.id %}" class="btn btn-primary">Read more&nbsp;>></a>
                    </span>
                </div>
            </article>
        </div>
    {% if forloop.counter == 2 or forloop.counter == 4%}
    </div>
    {% endif %}
    {% empty %}
        抱歉，暂时未发布新文章！
    {% endfor %}

    <div class="paging">
        <a href="{% url 'myblog:postlist' %}" class="btn btn-default">更多文章&nbsp;>></a>
    </div>
{% endblock %}